In [3]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

test = pd.read_csv("test.csv", parse_dates=["datetime"])#parse_date 년월일 시분초인 데이터만 사용가능
train = pd.read_csv("train.csv", parse_dates=["datetime"])

train2 = train.drop(["datetime","casual","registered","count"],axis=1)
test2 = test.drop(["datetime"],axis=1)
display(train2,test2)

from sklearn.ensemble import RandomForestRegressor #트리에서 기준으로 인지 아닌지를 분류해서 분류를 통해 트리를 만든다 숫자로 예측은 regressor 종류는 classifier

model1 = RandomForestRegressor(verbose=1) #모델의 학습진행사항을 보여줌
model1.fit(train2,np.log(train["count"]))
rf_result = model1.predict(test2)

pd.Series(model1.feature_importances_,index=train2.columns).sort_values(ascending=False)
sub = pd.read_csv("sampleSubmission.csv")
sub["count"] =np.exp(rf_result)
sub.head()
sub.to_csv("error.csv",index=False)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,1,0,0,1,9.84,14.395,81,0.0000
1,1,0,0,1,9.02,13.635,80,0.0000
2,1,0,0,1,9.02,13.635,80,0.0000
3,1,0,0,1,9.84,14.395,75,0.0000
4,1,0,0,1,9.84,14.395,75,0.0000
...,...,...,...,...,...,...,...,...
10881,4,0,1,1,15.58,19.695,50,26.0027
10882,4,0,1,1,14.76,17.425,57,15.0013
10883,4,0,1,1,13.94,15.910,61,15.0013
10884,4,0,1,1,13.94,17.425,61,6.0032
10885,4,0,1,1,13.12,16.665,66,8.9981

      season  holiday  workingday  weather   temp   atemp  humidity  windspeed
0          1        0           1        1  10.66  11.365        56    26.0027
1          1        0           1        1  10.66  13.635        56     0.0000
2          1        0           1        1  10.66  13.635        56     0.0000
3          1        0           1        1  10.66  12.880        56    11.0014
4          1        0           1        1  10.66  12.880        56    11.0014
...      ...      ...         ...      ...    ...     ...       ...        ...
6488       1        0           1        2  10.66  12.880        60    11.0014
6489       1        0           1        2  10.66  12.880        60    11.0014
6490       1        0           1        1  10.66  12.880        60    11.0014
6491       1        0           1        1  10.66  13.635        56     8.9981
6492       1        0           1        1  10.66  13.635        65     8.9981

[6493 rows x 8 columns]

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    1.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.1s finished